<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/recipes" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/auth">Login</a>
        </li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer" (click)="onLogout()">Logout</a>
        </li>
        <li appDropdown class="dropdown" *ngIf="isAuthenticated">
          <a style="cursor: pointer" class="dropdown-toggle" role="button">
            Manage <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li style="cursor: pointer" (click)="onSaveData()">
              <a>Save Data</a>
            </li>
            <li style="cursor: pointer" (click)="onFetchData()">
              <a>Fetch Data</a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
